In [354]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report
from sklearn.neighbors import KNeighborsClassifier

In [253]:
sns.set(rc={'figure.figsize':(13,10)})

In [254]:
df = pd.read_csv("h1b_kaggle.csv", encoding='iso-8859-1',low_memory=False)

In [255]:
df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067,20£1*6,"ANN ARBOR, MICHIGAN",-83.7430378,42.2808256
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES232,CHIEF OPERATING OFFICER,Y,242674,20£1*6,"PLANO, TEXAS",-96.6988856,33.0198431
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES232,CHIEF PROCESS OFFICER,Y,193066,20£1*6,"JERSEY CITY, NEW JERSEY",-74.0776417,40.7281575
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES232,"REGIONAL PRESIDEN, AMERICAS",Y,220314,20£1*6,"DENVER, COLORADO",-104.990251,39.7392358
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES232,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,20£1*6,"ST. LOUIS, MISSOURI",-90.1994042,38.6270025

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002458 entries, 0 to 3002457
Data columns (total 11 columns):
Unnamed: 0            object
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       object
YEAR                  object
WORKSITE              object
lon                   object
lat                   object
dtypes: object(11)
memory usage: 252.0+ MB

In [257]:
cols = ['CASE_ID', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat']
df.columns = cols

In [258]:
df.columns

Index(['CASE_ID', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [259]:
#df.set_index('CASE_ID', inplace=True)

In [260]:
df.isnull().sum()

CASE_ID                    0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [261]:
g = ['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat']
count = 0
while count < len(g):
    print(df[g[count]].value_counts())
    count +=1

CERTIFIED                                             2615623
CERTIFIED-WITHDRAWN                                    201708
DENIED                                                  94346
WITHDRAWN                                               89799
CERTIFIED-+--WITHDRAWN                                    951
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64
INFOSYS LIMITED                                       130592
TATA CONSULTANCY SERVICES LIMITED                      64726
WIPRO LIMITED                                          48117
DELOITTE CONSULTING LLP                                36742
IBM INDIA PRIVATE LIMITED                              34219
ACCENTURE LLP                                          33447
MICROSOFT CORPORATION                                  25576
HCL AMERICA, INC.                                      22678
ERNST & YOUNG U.S. LLP                                 18232
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION        17528
LARSEN & TOUBRO INFOTECH LIMITED                       17457
CAPGEMINI AMERICA INC                                  16725
GOOGLE INC.                                            16473
IBM CORPORATION                                        13276
IGATE TECHNOLOGIES INC.                                12564
INTEL CORPORATION                                      11415
TECH MAHINDRA (AMERICAS),INC.                          10732
DELOITTE & TOUCHE LLP                                   9642
AMAZON CORPORATE LLC                                    9026
ORACLE AMERICA, INC.                                    7684
APPLE INC.                                              7317
JPMORGAN CHASE & CO.                                    7035
TECH MAHINDRA (AMERICAS), INC.                          7019
UST GLOBAL INC.                                         6363
UST GLOBAL INC                                          6355
QUALCOMM TECHNOLOGIES, INC.                             6113
HEXAWARE TECHNOLOGIES, INC.                             5466
FUJITSU AMERICA, INC.                                   5309
MASTECH, INC., A MASTECH HOLDINGS, INC. COMPANY         5228
MPHASIS CORPORATION                                     5199
                                                       ...
WESTWOOD MEDICAL GROUP, INC                                1
SD NANDINI INC.                                            1
FRENDEL, BROWN & WEISSMAN LLP                              1
LELAND STANFORD JUNIOR UNIVERSITY                          1
ALPHA VIANA, INC                                           1
W DENTAL CARE                                              1
MERCER COUNTY HOSPITAL                                     1
ROSENBAUM DESIGN GROUP ARCHITECTURE ENGINEERING P.         1
STRATUSLIVE                                                1
M.E.P. - N.Y. INC.                                         1
MARY E. PRADOS, CPA, PA                                    1
SCOTT & WHITE HOSPITAL - LLANO                             1
MEREDITH VINEYARD ESTATE INC                               1
THE MANAGEMENT COMPENSATION GROUP SOUTHEAST, LLC           1
VETERNIARY MEDICAL CENTER, PA                              1
OVERDRIVE MARKETING, LLC                                   1
TRIPLEPOINT, LLC.                                          1
TOLEDO INNS INC                                            1
LLOYD CRESCENDO ADVISORS LLC                               1
FAIRWARNING TECHNOLOGIES INC.                              1
MEGA SIGN, INC.                                            1
HAMBURG SÃD NORTH AMERICA                                 1
STYLITICS, INC.                                            1
DREAMNET, INC.                                             1
MARINA BIOTECH, INC.                                       1
BIOSTRATEGIES LC                                           1
SALMAR INC.                                                1
VENEER SERVICES, LLC                                       1
TB WOODS, INC.                                             1
3D HUBS INC.                                               1
Name: EMPLOYER_NAME, Length: 236120, dtype: int64
Computer Systems Analysts                             291170
SOFTWARE DEVELOPERS, APPLICATIONS                     221783
COMPUTER SYSTEMS ANALYSTS                             215353
Computer Programmers                                  201540
Software Developers, Applications                     192933
COMPUTER PROGRAMMERS                                  164477
COMPUTER OCCUPATIONS, ALL OTHER                       108555
Computer Occupations, All Other                        69315
Software Developers, Systems Software                  44500
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                  39356
Management Analysts                                    38755
Financial Analysts                                     34141
Computer Software Engineers, Applications              33325
Accountants and Auditors                               30708
MANAGEMENT ANALYSTS                                    28117
Mechanical Engineers                                   26219
Computer Occupations, All Other*                       25628
Computer Pr0grammers                                   25034
Electronics Engineers, Except Computer                 23323
Electrical Engineers                                   22162
Market Research Analysts and Marketing Specialists     22158
ACCOUNTANTS AND AUDITORS                               22114
Physicians and Surgeons, All Other                     22010
Database Administrators                                21937
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS            21642
FINANCIAL ANALYSTS                                     19399
Operations Research Analysts                           19171
Network and Computer Systems Administrators            18445
MECHANICAL ENGINEERS                                   18017
COMPUTER SYSTEMS ANALYST                               17426
                                                       ...
MECHANICAL ENGINEERS, R&D (ACWIA ONLY)                     1
PEDIATRICIAN                                               1
FLIGHT ATTENDANTS                                          1
BIOLOGIST (19-1020.01)                                     1
COMPUTER SYSTEMS ANALYTS                                   1
Camera and Photographic Equipment Repairers                1
COMPUTER SYTEMS ANALYST                                    1
NETWORK AND COMPUTER SYSTEMS ASMINISTRATORS                1
SECURITIES, COMMODITIES, AND FINANCIAL SER                 1
Electrical and Electronics Repairers, Powerhouse,          1
Medical Transcriptionists                                  1
EDUCATIONAL COUNSELORS                                     1
ENGINEERS, ALL OTHERS                                      1
STONEMASONS                                                1
COMPUTER SYSTEMS ANALYSTS, NON R&AMP;D (ACWIA              1
PURCHASING AGENTS, EXCEPT WHOLESALE, RETAIL,               1
Truck Drivers, Heavy and Tractor-Trailer                   1
MARKETING  MANAGERS                                        1
Extruding and Drawing Machine Setters, Operators,          1
Electrical Power-Line Installers and Repairers             1
FAMILY AND GENERAL PRACTICIONERS                           1
ELECTRONIC ENGINEERS, EXCEPT COMPUTER, R&D                 1
TIMING DEVICE ASSEMBLERS AND ADJUSTERS                     1
COMPUTER NETWORK SUPPORTS SPECIALIST                       1
PHARMACIST                                                 1
MARKETING RESEARCH ANALYSTS AND MARKETING SPECIALI         1
ELECTRONICS ENGINEERS EXCEPT COMPUTER                      1
SOFTWARE APPLICATION ENGINEER                              1
GEOLOGIST                                                  1
NETWORK AND COMPUTER SYSTEMS                               1
Name: SOC_NAME, Length: 2141, dtype: int64
PROGRAMMER ANALYST                                          249038
SOFTWARE ENGINEER                                           121307
COMPUTER PROGRAMMER                                          70570
SYSTEMS ANALYST                                              61965
SOFTWARE DEVELOPER                                           42907
BUSINESS ANALYST                                             39681
COMPUTER SYSTEMS ANALYST                                     35086
TECHNOLOGY LEAD - US                                         28350
SENIOR SOFTWARE ENGINEER                                     27133
TECHNOLOGY ANALYST - US                                      26055
ASSISTANT PROFESSOR                                          25265
SENIOR CONSULTANT                                            24904
CONSULTANT                                                   23081
PHYSICAL THERAPIST                                           20207
PROJECT MANAGER                                              20172
DATABASE ADMINISTRATOR                                       16665
ACCOUNTANT                                                   14048
COMPUTER PROGRAMMER ANALYST                                  13634
RESEARCH ASSOCIATE                                           13623
DEVELOPER                                                    12909
ASSOCIATE                                                    12502
ANALYST                                                      11751
LEAD ENGINEER                                                11157
COMPUTER SYSTEMS ENGINEER                                    11090
SENIOR SOFTWARE DEVELOPER                                    10208
BUSINESS SYSTEMS ANALYST                                     10110
SYSTEMS ENGINEER - US                                        10036
PROGRAMMER/ANALYST                                            9375
MARKET RESEARCH ANALYST                                       8934
MANAGER                                                       8561
                                                             ...
MGMT ENG & INT CONSULTING ASSOCIATE                              1
CHIEF LEARNING OFFICER                                           1
BUSINESS STRATEGY RISK MANAGER                                   1
SR. APPLICATION SUPPORT ENGINEER (DEVELOPER)                     1
MANAGER, PLATFORM VISUAL DESIGN                                  1
ASSOCIATE DIRECTOR, BRAND LIASON, WESTIN AND LE MERIDIAN         1
ASSISTANT GOLF COURSE MANAGER                                    1
PROGRAMMER ANALYST (IT SYSTEMS ENGINEER)                         1
PROJECT MANAGEMENT COORDINATOR                                   1
CORNEA SPECIALIST                                                1
ZONAL ISOLATION SEGMENT ENGINEERING TECHNICAL AUTHORITY          1
PRPC DEVELOPER                                                   1
MANAGER, HELIUM LOGISTICS AND TRAFFIC MANAGEMENT                 1
LEAD JAVA DEVELOPER - CLEARING SYSTEMS                           1
ONSITE TECHNICAL TRACK LEAD                                      1
AD&I SOLUTION MANAGER                                            1
ETL ADMIN/ BUSINESS INTELLIGENCE DEVELOPER                       1
ASSOCIATE INFORMATION SECURITY ANALYST                           1
DATA PERFORMANCE ANALYST                                         1
DEPUTY DIRECTOR OF CUSTOMER SERVICE (15-1199.09)                 1
CLIENT ONBOARDING ASSOCIATE                                      1
VICE PRESIDENT, STRATEGY & BUSINESS DEVELOPMENT                  1
FELLOW IN THE DEPT. OF NEUROLOGY, NEUROMUSCULAR ME               1
HR PROGRAM SPECIALIST                                            1
CHANNEL PLANNING ANALYST                                         1
SR. DIRECTOR PRODUCT QUALITY ASSURANCE                           1
FABRICATION PROCESS DEVELOPMENT ENGINEER                         1
HARDWARE DEV ENG 3                                               1
FIRST GRADE ELEMENTARY SCHOOL TEACHER                            1
R&D ENGINEERING STAFF                                            1
Name: JOB_TITLE, Length: 287770, dtype: int64

Y     2576111
N      425920
No        412
Name: FULL_TIME_POSITION, dtype: int64
60000       10354
55245        6865
62566        6655
58053        5755
52499        5561
51730        5482
63877        5477
65042        5302
55370        5033
67808        4697
67621        4658
60133        4545
63086        4468
73923        4461
66602        4143
61797        4114
60549        4099
58760        4021
58906        4019
52770        3995
73445        3956
61589        3952
57179        3946
69805        3946
53914        3936
60507        3864
50752        3862
58885        3843
71510        3838
63690        3785
            ...
197825          1
122137.6        1
137940          1
141821          1
84343           1
55495           1
74237           1
36288           1
27400           1
83538           1
124620          1
125062          1
78065           1
57537           1
122326          1
110004          1
42982           1
41347           1
56496           1
150053          1
124497          1
84030           1
96620           1
76587           1
80005           1
4197440         1
19074           1
61296           1
35369.88        1
86619           1
Name: PREVAILING_WAGE, Length: 56157, dtype: int64
20£1*6           647803
2015             618727
2014             519427
2013             442114
2012             415607
2011             336429
Twenty eleven     22338
Name: YEAR, dtype: int64
NEW YORK, NEW YORK                   191719
HOUSTON, TEXAS                        83889
SAN FRANCISCO, CALIFORNIA             62787
ATLANTA, GEORGIA                      52193
CHICAGO, ILLINOIS                     51497
SAN JOSE, CALIFORNIA                  50083
SUNNYVALE, CALIFORNIA                 35136
DALLAS, TEXAS                         31628
BOSTON, MASSACHUSETTS                 31471
REDMOND, WASHINGTON                   30667
CHARLOTTE, NORTH CAROLINA             30269
MOUNTAIN VIEW, CALIFORNIA             29479
IRVING, TEXAS                         29392
SAN DIEGO, CALIFORNIA                 28881
SANTA CLARA, CALIFORNIA               28167
JERSEY CITY, NEW JERSEY               27022
AUSTIN, TEXAS                         26865
SEATTLE, WASHINGTON                   26859
LOS ANGELES, CALIFORNIA               26517
PHILADELPHIA, PENNSYLVANIA            24161
PHOENIX, ARIZONA                      21521
BELLEVUE, WASHINGTON                  21306
PLANO, TEXAS                          20742
WASHINGTON, DISTRICT OF COLUMBIA      20369
ALPHARETTA, GEORGIA                   18288
IRVINE, CALIFORNIA                    17052
PALO ALTO, CALIFORNIA                 16686
MIAMI, FLORIDA                        16607
COLUMBUS, OHIO                        16574
TAMPA, FLORIDA                        15562
                                      ...
KEYPORT, NEW JERSEY                       1
ETNA, PENNSYLVANIA                        1
SUMAS, CALIFORNIA                         1
PLYMOUTH, CALIFORNIA                      1
SUITE 600, TEXAS                          1
MEMPHIS, MINNESOTA                        1
MOLINE, NEBRASKA                          1
OMAHA, OKLAHOMA                           1
KASILOF, ALASKA                           1
FOX ISLAND, WASHINGTON                    1
SUITE 706, FLORIDA                        1
WILSON, SOUTH CAROLINA                    1
OSKALOOSA, NEBRASKA                       1
SAVANN, GEORGIA                           1
LAUREL, OHIO                              1
MAHWAH, MISSOURI                          1
TEMPLE TERRACE, NEW JERSEY                1
MUNSTER, ILLINOIS                         1
MCCONNELSVILLE, OHIO                      1
RANDLETT, UTAH                            1
HERMOSA, CALIFORNIA                       1
COLLEGEVILLE, ILLINOIS                    1
CARLSBAD, NORTH CAROLINA                  1
RED CLOUD, NEBRASKA                       1
TONAWANDA, PENNSYLVANIA                   1
333 108TH AVE. NE, WASHINGTON             1
SUPERIOR, NEBRASKA                        1
RIVER OAKS, TEXAS                         1
2 TECHNOLOGY DRIVE, MASSACHUSETTS         1
WEST HURLEY, NEW YORK                     1
Name: WORKSITE, Length: 18624, dtype: int64
-74.0059413        192513
-95.3698028         83576
-122.4194155        61970
-84.3879824         51907
-87.6297982         51111
-121.8863286        50132
-122.0363496        34950
-96.7969879         31482
-71.0588801         31313
-122.121512         30582
-80.8431267         30170
-122.0838511        29416
-96.9488945         29335
-117.1610838        28784
-121.9552356        28039
-74.0776417         26989
-97.7430608         26748
-122.3320708        26497
-118.2436849        26267
-75.1652215         24077
-77.0368707         22423
-112.0740373        21362
-122.2015159        21189
-96.6988856         20659
-84.2940899         18223
-117.7946942        16964
-82.9987942         16551
-122.1430195        16531
-80.1917902         16360
-79.9958864         15688
                    ...
-+--102.8793222         1
-+--82.445154           1
-+--76.8966397          1
-+--73.2453824          1
-+--117.7678355         1
-+--72.6655757          1
-+--74.0420848          1
-+--118.5360517         1
-+--84.2338093          1
-+--74.7702576          1
-+--77.8653126          1
-+--88.5426136          1
-+--118.3870991         1
-+--74.7146817          1
-+--74.4015405          1
-+--80.4775569          1
-+--77.4288769          1
-+--73.7801447          1
-+--73.8642613          1
-+--120.4357191         1
-+--74.0665297          1
-+--74.5101536          1
-+--121.4252227         1
-+--87.9183919          1
-+--97.9908366          1
-+--70.7625532          1
-74.90989               1
-+--111.8389726         1
-+--93.2632821          1
-+--88.0072909          1
Name: lon, Length: 3643, dtype: int64
40.7127837             194360
29.7604267              83889
37.7749295              62821
33.7489954              52194
41.8781136              51497
37.3382082              50367
37.36883                35136
32.7766642              31628
42.3600825              31471
47.6739881              30667
35.2270869              30269
37.3860517              29600
32.8140177              29392
32.715738               28881
37.3541079              28167
40.7281575              27082
30.267153               26865
47.6062095              26859
34.0522342              26517
39.9525839              24161
38.9071923              22516
33.4483771              21521
47.6101497              21306
33.0198431              20742
34.0753762              18288
33.6839473              17052
37.4418834              16686
25.7616798              16607
39.9611755              16574
40.4406248              15742
                        ...
38.5052429                 56
33.7205771                 56
43.3665007                 56
34.5400242                 56
25.7050697                 56
40.0999077                 55
34.1545306                 55
39.1404477                 55
29.5607383                 55
43.2200583                 55
33.1384488                 55
28.7091433                 55
39.0256651                 55
46.681153                  55
28.5652787                 55
46.7162136                 55
45.0380201                 55
25.9428707                 54
34.0739016                 54
42.7647763                 54
40.9478158                 54
36.6987493                 54
37.7719074                 54
35.1359386                 54
41.5425349                 54
42.4084302                 54
34.227351                  54
42.3564609                 54
40.4Twenty eleven65         3
40.6367682                  1
Name: lat, Length: 2408, dtype: int64

In [262]:
df['YEAR'].value_counts()

20£1*6           647803
2015             618727
2014             519427
2013             442114
2012             415607
2011             336429
Twenty eleven     22338
Name: YEAR, dtype: int64

In [263]:
df['YEAR'] = np.where(df['YEAR'] == '20£1*6', '2016', df['YEAR'])
df['YEAR'] = np.where(df['YEAR'] == 'Twenty eleven', '2011', df['YEAR'])

In [264]:
df['YEAR'].value_counts()

2016    647803
2015    618727
2014    519427
2013    442114
2012    415607
2011    358767
Name: YEAR, dtype: int64

In [265]:
df.dtypes

CASE_ID               object
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       object
YEAR                  object
WORKSITE              object
lon                   object
lat                   object
dtype: object

In [266]:
df.isnull().sum()

CASE_ID                    0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [267]:
#droping the 13 NaN in column "YEAR" since NaN values across the rows
df.dropna(axis=0,subset=['YEAR'], inplace=True)

In [268]:
df.isnull().sum()

CASE_ID                    0
CASE_STATUS                0
EMPLOYER_NAME             46
SOC_NAME               17721
JOB_TITLE                 30
FULL_TIME_POSITION         2
PREVAILING_WAGE           72
YEAR                       0
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [269]:
df.drop(columns=['lon','lat'], inplace=True)

In [270]:
df.columns

Index(['CASE_ID', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE'],
      dtype='object')

In [271]:
df.dtypes

CASE_ID               object
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       object
YEAR                  object
WORKSITE              object
dtype: object

#  Was getting ValueError: could not convert string to float: '20£1*6', locating the value and replacing it

In [272]:
#Locati
a = df[df['CASE_ID'].str.contains('£1*')]
a['CASE_ID'].values

array(['20£1*6', '120£1*6', '20£1*60', ..., '29820£1*6', '29920£1*6',
       '30020£1*6'], dtype=object)

In [273]:
b = df[df['CASE_ID'].str.contains('eleven')]
b['CASE_ID']

2792010    279Twenty eleven
2802010    280Twenty eleven
Name: CASE_ID, dtype: object

In [274]:
type(df['CASE_ID'].values)

numpy.ndarray

In [275]:
df.loc[2015,:]

CASE_ID                                                       20£1*6
CASE_STATUS                                                CERTIFIED
EMPLOYER_NAME                NATIONAL GRID USA SERVICE COMPANY, INC.
SOC_NAME                             GENERAL AND OPERATIONS MANAGERS
JOB_TITLE             HEAD OF SERVICE USER PLATFORM & INFRASTRUCTURE
FULL_TIME_POSITION                                                 Y
PREVAILING_WAGE                                               147909
YEAR                                                            2016
WORKSITE                                      WALTHAM, MASSACHUSETTS
Name: 2015, dtype: object

In [276]:
def replace_pound(x):
    try: 
        return x.replace('£', '')
    except AttributeError:
        return np.NaN
def replace_star(x):
    try: 
        return x.replace('*', '')
    except AttributeError:
        return np.NaN
def replace_3Twen(x):
    try: 
        return x.replace('3Twenty eleven', '32011')
    except AttributeError:
        return np.NaN    
def replace_AA(x):
    try: 
        return x.replace('Â', '')
    except AttributeError:
        return np.NaN  

df.PREVAILING_WAGE = df.PREVAILING_WAGE.map(replace_pound)
df.PREVAILING_WAGE = df.PREVAILING_WAGE.map(replace_star)
df.PREVAILING_WAGE = df.PREVAILING_WAGE.map(replace_3Twen)
df.JOB_TITLE = df.JOB_TITLE.map(replace_AA)

In [277]:
df['CASE_ID'] = [item.replace('£','') for item in df['CASE_ID']]
df['CASE_ID'] = [item.replace('*','') for item in df['CASE_ID']]
df['CASE_ID'] = [item.replace('279Twenty eleven','2792011') for item in df['CASE_ID']]
df['CASE_ID'] = [item.replace('280Twenty eleven','2802011') for item in df['CASE_ID']]

df.loc[2015,:]

CASE_ID                                                         2016
CASE_STATUS                                                CERTIFIED
EMPLOYER_NAME                NATIONAL GRID USA SERVICE COMPANY, INC.
SOC_NAME                             GENERAL AND OPERATIONS MANAGERS
JOB_TITLE             HEAD OF SERVICE USER PLATFORM & INFRASTRUCTURE
FULL_TIME_POSITION                                                 Y
PREVAILING_WAGE                                               147909
YEAR                                                            2016
WORKSITE                                      WALTHAM, MASSACHUSETTS
Name: 2015, dtype: object

In [278]:
df['CASE_ID'] = df['CASE_ID'].astype(int)

In [279]:
df.dtypes

CASE_ID                int32
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       object
YEAR                  object
WORKSITE              object
dtype: object

In [280]:
df['YEAR'] = pd.to_datetime(df['YEAR'], format="%Y")

In [281]:
df.head()

,CASE_ID,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067,2016-01-01,"ANN ARBOR, MICHIGAN"
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES232,CHIEF OPERATING OFFICER,Y,242674,2016-01-01,"PLANO, TEXAS"
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES232,CHIEF PROCESS OFFICER,Y,193066,2016-01-01,"JERSEY CITY, NEW JERSEY"
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES232,"REGIONAL PRESIDEN, AMERICAS",Y,220314,2016-01-01,"DENVER, COLORADO"
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES232,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016-01-01,"ST. LOUIS, MISSOURI"

In [282]:
df.isnull().sum()

CASE_ID                   0
CASE_STATUS               0
EMPLOYER_NAME            46
SOC_NAME              17721
JOB_TITLE                30
FULL_TIME_POSITION        2
PREVAILING_WAGE          72
YEAR                      0
WORKSITE                  0
dtype: int64

In [283]:
df['CASE_STATUS'].unique()

array(['CERTIFIED-WITHDRAWN', 'WITHDRAWN', 'CERTIFIED',
       'CERTIFIED-+--WITHDRAWN', 'DENIED', 'REJECTED', 'INVALIDATED',
       'PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED'], dtype=object)

In [284]:
df['JOB_TITLE'] = df['JOB_TITLE'].astype('category')
df['SOC_NAME'] = df['SOC_NAME'].astype('category')

In [285]:
df.loc[:,'SOC_NAME':'JOB_TITLE'].head()

                        SOC_NAME                     JOB_TITLE
0  BIOCHEMISTS AND BIOPHYSICISTS  POSTDOCTORAL RESEARCH FELLOW
1            CHIEF EXECUTIVES232       CHIEF OPERATING OFFICER
2            CHIEF EXECUTIVES232         CHIEF PROCESS OFFICER
3            CHIEF EXECUTIVES232   REGIONAL PRESIDEN, AMERICAS
4            CHIEF EXECUTIVES232  PRESIDENT MONGOLIA AND INDIA

In [286]:
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('DEVELOPERS'),
                          'SOFTWARE DEVELOPERS, APPLICATIONS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Software'),
                          'SOFTWARE DEVELOPERS, APPLICATIONS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('COMPUTER'),
                          'COMPUTER OCCUPATIONS, ALL OTHER',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Computer'),
                          'COMPUTER OCCUPATIONS, ALL OTHER',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Engineer'),
                          'ENGINEERS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('ENGINEER'),
                          'ENGINEERS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('PROGRAMMER'),
                          'COMPUTER OCCUPATIONS, ALL OTHER',df['SOC_NAME'])

In [287]:
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Management'),
                          'MANAGEMENT ANALYSTS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Financial'),
                          'FINANCIAL ANALYSTS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('FINANCIAL'),
                          'FINANCIAL ANALYSTS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Accountants'),
                          'ACCOUNTANTS AND AUDITORS',df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('Database'),
                          'DATABASE ADMINISTRATORS',df['SOC_NAME'])

In [288]:
df['SOC_NAME'].value_counts(normalize=True)

COMPUTER OCCUPATIONS, ALL OTHER                       4.268368e-01
SOFTWARE DEVELOPERS, APPLICATIONS                     1.936289e-01
ENGINEERS                                             6.454939e-02
FINANCIAL ANALYSTS                                    2.482777e-02
MANAGEMENT ANALYSTS                                   2.233913e-02
ACCOUNTANTS AND AUDITORS                              1.886729e-02
DATABASE ADMINISTRATORS                               1.298342e-02
Market Research Analysts and Marketing Specialists    7.379985e-03
Physicians and Surgeons, All Other                    7.330692e-03
Operations Research Analysts                          6.385129e-03
Medical Scientists, Except Epidemiologists            5.596439e-03
MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS    5.188771e-03
OPERATIONS RESEARCH ANALYSTS                          5.025571e-03
Physical Therapists                                   4.903004e-03
Biochemists and Biophysicists                         4.762452e-03
PHYSICIANS AND SURGEONS, ALL OTHER                    3.835541e-03
Marketing Managers                                    3.541780e-03
Biological Scientists, All Other                      3.298978e-03
MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS            3.116127e-03
Internists, General                                   3.072163e-03
Statisticians                                         3.058840e-03
Chemists                                              2.870327e-03
Graphic Designers                                     2.676818e-03
STATISTICIANS                                         2.636851e-03
General and Operations Managers                       2.450003e-03
PHYSICAL THERAPISTS                                   2.422359e-03
Pharmacists                                           2.361076e-03
BIOCHEMISTS AND BIOPHYSICISTS                         2.313448e-03
Elementary School Teachers, Except Special Educati    2.195544e-03
BIOLOGICAL SCIENTISTS, ALL OTHER                      2.152246e-03
                                                          ...
CABINETMAKERS AND BENCH CARPENTERS                    3.330619e-07
LIFE SCIENTISTS                                       3.330619e-07
Food Batchmakers                                      3.330619e-07
LOGISTICS MANAGER                                     3.330619e-07
DISHWASHERS                                           3.330619e-07
SOFTWWARE DEVELOPER, APLICATIONS                      3.330619e-07
GROUNDS MAINTENANCE WORKERS, ALL OTHER                3.330619e-07
PATHOLOGISTS                                          3.330619e-07
New Accounts Clerks                                   3.330619e-07
GENERAL AND OPERATIONS MANAGERSE                      3.330619e-07
NETWORK SYSTEMS AND DATA COMMUNICATIONS ANALYSTS      3.330619e-07
Range Managers                                        3.330619e-07
HEARING AID SPECIALISTS                               3.330619e-07
TIMING DEVICE ASSEMBLERS AND ADJUSTERS                3.330619e-07
LOAN INTERVIEWERS AND CLERKS                          3.330619e-07
FOOD PREPARATION WORKERS                              3.330619e-07
SOFTWARE DVELOPERS, APPLICATIONS                      3.330619e-07
DIRECTORS- STAGE, MOTION PICTURES, TELEVISION, AND    3.330619e-07
BUSINESS OPERATIONS SPECIALIST, ALL OTHERS            3.330619e-07
BIOCHEMISTS                                           3.330619e-07
MEDICAL SCIENTISTS EXCEPT EPIDIMIOLOGISTS             3.330619e-07
Electronic Home Entertainment Equipment Installers    3.330619e-07
FOOD AND TOBACCO ROASTING, BAKING, AND DRYING         3.330619e-07
COMMUNICATIONS STUDIES TEACHERS, POSTSECONDARY        3.330619e-07
Mobile Heavy Equipment Mechanics, Except Engines      3.330619e-07
Aircraft Structure, Surfaces, Rigging, and Systems    3.330619e-07
MEDICAL AND HEALTH SERVICES MANAGER                   3.330619e-07
MUSICIANS, INSTRUMENTAL                               3.330619e-07
PHYSICIAN & SURGEONS, ALL OTHER                       3.330619e-07
Respiratory Therapy Technicians                       3.330619e-07
Name: SOC_NAME, Length: 1663, dtype: float64

In [289]:
df['SOC_NAME'].unique().size

1663

In [290]:
df.isnull().sum()

CASE_ID                0
CASE_STATUS            0
EMPLOYER_NAME         46
SOC_NAME               0
JOB_TITLE             30
FULL_TIME_POSITION     2
PREVAILING_WAGE       72
YEAR                   0
WORKSITE               0
dtype: int64

In [291]:
df.head()

,CASE_ID,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067,2016-01-01,"ANN ARBOR, MICHIGAN"
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES232,CHIEF OPERATING OFFICER,Y,242674,2016-01-01,"PLANO, TEXAS"
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES232,CHIEF PROCESS OFFICER,Y,193066,2016-01-01,"JERSEY CITY, NEW JERSEY"
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES232,"REGIONAL PRESIDEN, AMERICAS",Y,220314,2016-01-01,"DENVER, COLORADO"
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES232,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016-01-01,"ST. LOUIS, MISSOURI"

In [292]:
df[df['EMPLOYER_NAME'].isnull()].head()

,CASE_ID,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
19796,19797,WITHDRAWN,NaN,ENGINEERS,ENGINEERING MANAGER,Y,110594,2016-01-01,"DEERFIELD BEACH, FLORIDA"
74903,74904,DENIED,NaN,FINANCIAL ANALYSTS,BUSINESS FINANCIAL ANALYST,N,63066,2016-01-01,"TAMPA, FLORIDA"
103770,103771,DENIED,NaN,"COMPUTER OCCUPATIONS, ALL OTHER",BUSINESS ANALYST,N,55390.4,2016-01-01,"FAIRFAX, VIRGINIA"
185701,185702,DENIED,NaN,"COMPUTER OCCUPATIONS, ALL OTHER",COMPUTER SYSTEMS ANALYST,N,64813,2016-01-01,"EDISON, NEW JERSEY"
187387,187388,CERTIFIED,NaN,"COMPUTER OCCUPATIONS, ALL OTHER",COMPUTER SYSTEMS ANALYST,N,64813,2016-01-01,"EDISON, NEW JERSEY"

In [293]:
df[df['EMPLOYER_NAME'].isnull()]['JOB_TITLE'].value_counts(normalize=True)#.sum()

PROGRAMMER ANALYST                                      0.108108
SOFTWARE ENGINEER                                       0.081081
COMPUTER SYSTEMS ANALYST                                0.054054
IT PROJECT MANAGER                                      0.027027
BUSINESS ANALYST                                        0.027027
SENIOR PROGRAMMER ANALYST                               0.027027
QA ANALYST                                              0.027027
COMPUTER PROGRAMMERS                                    0.027027
PROJECT MANAGER                                         0.027027
TEST MANAGER                                            0.027027
ENGINEERING MANAGER                                     0.027027
VICE PRESIDENT OF ENGINEERING                           0.027027
HEALTH AND SAFETY SPECIALIST II                         0.027027
MANAGER                                                 0.027027
SENIOR SOFTWARE QA ENGINEER                             0.027027
SENIOR CONSULTANT                                       0.027027
ENGINEER II                                             0.027027
FAMILY MEDICINE PHYSICIAN                               0.027027
BUSINESS FINANCIAL ANALYST                              0.027027
VICE PRESIDENT, SENIOR PRINCIPAL DEVELOPMENT MANAGER    0.027027
PROJECT ENGINEER                                        0.027027
PROGRAMMERS                                             0.027027
CAPTAIN (FLIGHT PILOT)                                  0.027027
CHIEF OPERATING OFFICER                                 0.027027
RESEARCH INTERN                                         0.027027
PRINCIPAL SCIENTIST                                     0.027027
MANAGEMENT ANALYST                                      0.027027
SOFTWARE DEVELOPER APPLICATIONS                         0.027027
ORACLE DATABASE ADMINISTRATOR                           0.027027
SYSTEMS ADMINISTRATOR                                   0.027027
                                                          ...
RESEARCH SPECIALIST, DIRECTOR                           0.000000
RESEARCH SPECIALIST, HEALTH SCIENCE                     0.000000
RESEARCH SPECIALIST, LABORATORY                         0.000000
RESEARCH SPECIALIST, LEAD                               0.000000
RESEARCH SPECIALIST, POLYMER SCIENCE                    0.000000
RESEARCH SPECIALIST I                                   0.000000
RESEARCH SPECIALIST, SENIOR                             0.000000
RESEARCH SPECIALIST, SR                                 0.000000
RESEARCH SPECIALIST, SR.                                0.000000
RESEARCH SPECIALIST, VACCINE DISCOVERY                  0.000000
RESEARCH SPECIALIST, VIETNAM                            0.000000
RESEARCH SPECIALIST- COMPUTATION                        0.000000
RESEARCH SPECIALIST SR                                  0.000000
RESEARCH SPECIALIST SENIOR                              0.000000
RESEARCH SPECIALIST PRINCIPLE                           0.000000
RESEARCH SPECIALIST LEAD                                0.000000
RESEARCH SPECIALIST IV                                  0.000000
RESEARCH SPECIALIST INTERMEDIATE                        0.000000
RESEARCH SPECIALIST IN PLANT TISSUE CULTURE             0.000000
RESEARCH SPECIALIST IN PHARMACEUTICAL SCIENCES          0.000000
RESEARCH SPECIALIST IN LIFE SCIENCES                    0.000000
RESEARCH SPECIALIST IN HEALTH SCIENCES                  0.000000
RESEARCH SPECIALIST IN HEALTH SCIENCE                   0.000000
RESEARCH SPECIALIST IN CHEMISTRY                        0.000000
RESEARCH SPECIALIST IN CEREAL CHEMISTRY                 0.000000
RESEARCH SPECIALIST IN AGROECOLOGY                      0.000000
RESEARCH SPECIALIST III/SENIOR RESEARCH SPECIALIST      0.000000
RESEARCH SPECIALIST III                                 0.000000
RESEARCH SPECIALIST II                                  0.000000
"BUSINESS SYSTEM ANALYST                                0.000000
Name: JOB_TITLE, Length: 287770, dtype: float64

In [294]:
df[df['JOB_TITLE'] == 'PROGRAMMER ANALYST']['EMPLOYER_NAME'].value_counts(normalize=True)

WIPRO LIMITED                            0.031666
SYNTEL CONSULTING INC.                   0.009368
V-SOFT CONSULTING GROUP, INC             0.009155
RELIABLE SOFTWARE RESOURCES, INC.        0.007778
HCL GLOBAL SYSTEMS INC                   0.007039
3I INFOTECH, INC.                        0.006063
HTC GLOBAL SERVICES INC.                 0.005851
YASH TECHNOLOGIES, INC.                  0.005377
SYNTEL INC                               0.005160
SUNERA TECHNOLOGIES, INC                 0.004268
PEOPLE TECH GROUP INC.                   0.004224
HCL AMERICA, INC.                        0.004068
DIASPARK, INC.                           0.003891
AKVARR INC                               0.003437
TATA CONSULTANCY SERVICES LIMITED        0.003389
ASTIR IT SOLUTIONS INC.                  0.003333
DGN TECHNOLOGIES INC                     0.003269
VERINON TECHNOLOGY SOLUTIONS LTD.        0.003265
KFORCE INC.                              0.002996
PALVAI GLOBAL SERVICES INC               0.002980
SYSFORE TECHNOLOGIES, INC.               0.002855
RELIANCE GLOBAL SERVICES INC.            0.002835
SPLENDTEK INC                            0.002823
IPOLARITY LLC                            0.002823
RAMP TECHNOLOGY GROUP LLC                0.002779
EVEREST CONSULTING GROUP, INC.,          0.002743
SAPVIX INC                               0.002666
ZYLOG SYSTEMS LTD.                       0.002642
ERP AND ERP CORP                         0.002582
POLARIS SOFTWARE LAB (INDIA) LTD.        0.002550
                                           ...
BEST COMPUTER SYSTEMS, INC.              0.000004
NORTHCROSS GROUP                         0.000004
WINSPIRE SYNERGIES LLC                   0.000004
ADVANSOFT INTERNATIONAL, INC             0.000004
MERGENT, INC.                            0.000004
JCMS, INC.                               0.000004
IMAGEWORK TECHNOLOGIES CORPORATION       0.000004
VELA INSURANCE SERVICES, LLC             0.000004
IPOLARITY                                0.000004
SURECOM                                  0.000004
GGK TECHNOLOGIES, INC                    0.000004
HIRAL  TECHNOLOGIES, INC.                0.000004
ADVANCED METAL SOLUTIONS, INC.           0.000004
CYNERGY TECHNOLOGY, INC.                 0.000004
CENTRAPRISE CORP                         0.000004
PAVANE SOLUTIONS INC                     0.000004
VIGNESH TECHNOLOGICAL SOLUTIONS, INC.    0.000004
TPR CONSULTING                           0.000004
ACWIRON GLOBAL SOLUTIONS LLC             0.000004
CROWDNETIC CORPORATION                   0.000004
TANZANITE TECHNOLOGIES, INC.             0.000004
XRAY XPRESS ADVANCED DIAGNOSTICS         0.000004
TEKNITI, LLC                             0.000004
THE BSST SOFTWARE GROUP INC              0.000004
DAZZLON COMPUTER SERVICES, INC.          0.000004
SOHUM INC                                0.000004
TECHNOLOGY SCIENCES INC                  0.000004
CAMBRIA COMPANY, LLC                     0.000004
GLOBAL SOFTWARE CONSULTANTS, INC.        0.000004
BROY GROUP, INC                          0.000004
Name: EMPLOYER_NAME, Length: 9473, dtype: float64

In [295]:
df[df['JOB_TITLE'] == 'SOFTWARE ENGINEER']['EMPLOYER_NAME'].value_counts(normalize=True)

GOOGLE INC.                                  0.091778
MICROSOFT CORPORATION                        0.029562
INTEL CORPORATION                            0.018977
FACEBOOK, INC.                               0.017559
CERNER CORPORATION                           0.016718
CAPGEMINI AMERICA INC                        0.008755
YASH & LUJAN CONSULTING, INC.                0.008153
HITACHI CONSULTING CORPORATION               0.008112
QUALCOMM TECHNOLOGIES, INC.                  0.006644
ITECH US, INC.                               0.006199
ALINDUS, INC.                                0.006100
LOGISTIC SOLUTIONS, INC.                     0.005589
BIRLASOFT INC                                0.005424
LINKEDIN CORPORATION                         0.004996
IBM CORPORATION                              0.004732
ORACLE AMERICA, INC.                         0.004666
QUALCOMM INCORPORATED                        0.004649
MOTOROLA MOBILITY LLC                        0.004303
CISCO SYSTEMS, INC.                          0.004254
FRONTIER TECHNOLOGIES, LLC                   0.004089
TWITTER, INC.                                0.004081
OPENLOGIX CORPORATION                        0.003479
VISION IT SERVICES USA INC                   0.003429
MOTOROLA SOLUTIONS, INC.                     0.003363
FACTSET RESEARCH SYSTEMS, INC.               0.003289
MIRACLE SOFTWARE SYSYTEMS INC                0.003281
GOOGLE, INC.                                 0.003199
SYMANTEC CORPORATION                         0.003190
IBM INDIA PRIVATE LIMITED                    0.003083
VISIONET SYSTEMS, INC.                       0.003067
                                               ...
ITHOS USA INC                                0.000008
LEXIM, INC.                                  0.000008
HENNY PENNY CORPORATION                      0.000008
INTHEAIRNET, LLC                             0.000008
ONERA, INC.                                  0.000008
PERSONIFY INCORPORATED                       0.000008
ZENTEK CORPORATION                           0.000008
JOHN TODD RESEARCH AND DESIGN                0.000008
ITT EDUCATIONAL SERVICES, INC.               0.000008
TIETRONIX SOFTWARE INC                       0.000008
BIZIBLE, INC.                                0.000008
IT KEYSOURCE,INC.                            0.000008
ROCHE MOLECULAR SYSTEMS, INC.                0.000008
VSQUARE IT INC.                              0.000008
JAVA-DIVE TECHNOLOGIES                       0.000008
HITACHI CONSULTING SOFTWARE SERVICES INC.    0.000008
AVANT SYTEMS, INC.                           0.000008
LONG TAIL AD SOLUTIONS INC                   0.000008
FANKAVE, INC.                                0.000008
COVETIT, INC                                 0.000008
FUSION BOX INC                               0.000008
MOBIMEDS, INC.                               0.000008
GEOSEARCH, LLC                               0.000008
BRAINOFT INC.                                0.000008
APPSENSE INC.                                0.000008
RESMED INC.                                  0.000008
REMOTE COMPUTING SYSTEMS, INC                0.000008
ADVANCEDEMEDIA, INC.                         0.000008
AEHR TEST SYSTEMS                            0.000008
KOMPRISE, INC.                               0.000008
Name: EMPLOYER_NAME, Length: 13118, dtype: float64

In [296]:
df.dtypes

CASE_ID                        int32
CASE_STATUS                   object
EMPLOYER_NAME                 object
SOC_NAME                      object
JOB_TITLE                   category
FULL_TIME_POSITION            object
PREVAILING_WAGE               object
YEAR                  datetime64[ns]
WORKSITE                      object
dtype: object

In [297]:
df['JOB_TITLE'] = df['JOB_TITLE'].astype('category')
df['EMPLOYER_NAME'] = df['EMPLOYER_NAME'].astype('category')

In [298]:
 df['JOB_TITLE'].values

[POSTDOCTORAL RESEARCH FELLOW, CHIEF OPERATING OFFICER, CHIEF PROCESS OFFICER, REGIONAL PRESIDEN, AMERICAS, PRESIDENT MONGOLIA AND INDIA, ..., SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2), MATERIALS SCIENTIST, MARKET RESEARCH ANALYST, DESIGN ENGINEER, DESIGN ENGINEER]
Length: 3002445
Categories (287770, object): ["BUSINESS SYSTEM ANALYST, "SALES MANAGER, "TEST" SENIOR SCIENTIST, "TRAIN THE TRAINER" PROGRAM SUPERVISOR, ..., SYSTEMS ANALYST, TEAM LEAD - US, TECHNOLOGY ARCHITECT - US, TEST ANALYST - US]

In [299]:
df.set_index('CASE_ID', inplace=True)

In [300]:
a = df[df['JOB_TITLE'] == 'PROGRAMMER ANALYST']
a.shape

(249038, 8)

In [301]:
b = df[df['EMPLOYER_NAME'].isnull()]
b.shape

(46, 8)

In [302]:
d = df[df['JOB_TITLE'] == 'PROGRAMMER ANALYST']['EMPLOYER_NAME'].mode()
d

0    WIPRO LIMITED
Name: EMPLOYER_NAME, dtype: category
Categories (236120, object): ["EXCELLENT COMPUTING DISTRIBUTORS INC", "I HAVE A DREAM" FOUNDATION, "K" LINE AMERICA, "K" LINE AMERICA, INC., ..., ÃZE BULLES DRINKS LLC, ÃTUDES LLC, ÃTUDES, LLC, ÃNIMAI, INC.]

In [303]:
df.describe(include='all')

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
count,3002445,3002399,3002445,3002415,3002443,3002373,3002445,3002445
unique,8,236120,1663,287770,3,56156,6,18611
top,CERTIFIED,INFOSYS LIMITED,"COMPUTER OCCUPATIONS, ALL OTHER",PROGRAMMER ANALYST,Y,60000,2016-01-01 00:00:00,"NEW YORK, NEW YORK"
freq,2615623,130592,1281554,249038,2576111,10354,647803,191719
first,NaN,NaN,NaN,NaN,NaN,NaN,2011-01-01 00:00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:00:00,NaN

In [304]:
df['EMPLOYER_NAME'].fillna('WIPRO LIMITED',inplace=True)

In [305]:
df.isnull().sum()

CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
JOB_TITLE             30
FULL_TIME_POSITION     2
PREVAILING_WAGE       72
YEAR                   0
WORKSITE               0
dtype: int64

In [306]:
df.dtypes

CASE_STATUS                   object
EMPLOYER_NAME               category
SOC_NAME                      object
JOB_TITLE                   category
FULL_TIME_POSITION            object
PREVAILING_WAGE               object
YEAR                  datetime64[ns]
WORKSITE                      object
dtype: object

In [307]:
df.isnull().sum()

CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
JOB_TITLE             30
FULL_TIME_POSITION     2
PREVAILING_WAGE       72
YEAR                   0
WORKSITE               0
dtype: int64

In [308]:
df['FULL_TIME_POSITION'].value_counts()

Y     2576111
N      425920
No        412
Name: FULL_TIME_POSITION, dtype: int64

In [309]:
df['FULL_TIME_POSITION'] = np.where(df['FULL_TIME_POSITION'].str.contains('N'), 'N', df['FULL_TIME_POSITION'])

In [310]:
df.isnull().sum()

CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
JOB_TITLE             30
FULL_TIME_POSITION     0
PREVAILING_WAGE       72
YEAR                   0
WORKSITE               0
dtype: int64

In [311]:
df['JOB_TITLE'].value_counts()

PROGRAMMER ANALYST                                              249038
SOFTWARE ENGINEER                                               121307
COMPUTER PROGRAMMER                                              70570
SYSTEMS ANALYST                                                  61965
SOFTWARE DEVELOPER                                               42907
BUSINESS ANALYST                                                 39681
COMPUTER SYSTEMS ANALYST                                         35086
TECHNOLOGY LEAD - US                                             28350
SENIOR SOFTWARE ENGINEER                                         27133
TECHNOLOGY ANALYST - US                                          26055
ASSISTANT PROFESSOR                                              25265
SENIOR CONSULTANT                                                24904
CONSULTANT                                                       23081
PHYSICAL THERAPIST                                               20207
PROJECT MANAGER                                                  20172
DATABASE ADMINISTRATOR                                           16665
ACCOUNTANT                                                       14048
COMPUTER PROGRAMMER ANALYST                                      13634
RESEARCH ASSOCIATE                                               13623
DEVELOPER                                                        12909
ASSOCIATE                                                        12502
ANALYST                                                          11751
LEAD ENGINEER                                                    11157
COMPUTER SYSTEMS ENGINEER                                        11090
SENIOR SOFTWARE DEVELOPER                                        10208
BUSINESS SYSTEMS ANALYST                                         10110
SYSTEMS ENGINEER - US                                            10036
PROGRAMMER/ANALYST                                                9375
MARKET RESEARCH ANALYST                                           8934
MANAGER                                                           8561
                                                                 ...
PRINCIPAL RESEARCHER-COMPUTING SRVCS, PREDICTIVE ANALYTICS           1
PRINCIPAL RESEARCHER, SPEECH AND FUSION NUI TECHNO                   1
PRINCIPAL RESEARCH STATISTICIAN                                      1
PRINCIPAL RESEARCH SCIENTIST (ACOUSTIC MODELING)                     1
PRINCIPAL SALES SUPPORT MANAGER                                      1
PRINCIPAL SALESFORCE DEVELOPER                                       1
PRINCIPAL SALESFORCE SOLUTIONS ARCHITECT                             1
PRINCIPAL SAP ABAP DEVELOPER                                         1
PRINCIPAL SCIENTIST - IN-VITRO IMMUNOBIOLOGY                         1
PRINCIPAL SCIENTIST - DATA MINING                                    1
PRINCIPAL SCIENTIST - BIOLOGY DISCOVERY                              1
PRINCIPAL SCIENTIST (MATERIALS SCIENTIST)                            1
PRINCIPAL SCIENTIST (A COMPUTER AND INFORMATION RE                   1
PRINCIPAL SCIENTIFIC SOFTWARE ENGINEER                               1
PRINCIPAL SCIENTIFIC ENGINEERING ASSOCIATE (ENERGY ENGINEER)         1
PRINCIPAL SCIENTIFIC ENGINEER ASSOCIATE                              1
PRINCIPAL SCHEDULING ENGINEER                                        1
PRINCIPAL SAS STATISTICAL PROGAMMER                                  1
PRINCIPAL SAP/TM DEVELOPMENT ARCHITECT/CONSULTANT                    1
PRINCIPAL SAP TM CONSULTANT                                          1
PRINCIPAL SAP SECURITY ANALYST                                       1
PRINCIPAL SAP SCM TECHNOLOGY CONSULTANT                              1
PRINCIPAL SAP HRM SPECIALIST                                         1
PRINCIPAL SAP HR/PAYROLL DEVELOPER                                   1
PRINCIPAL SAP FUNCTIONAL LEAD                                        1
PRINCIPAL SAP EMPLOYEE CENTRAL ARCHITECT                             1
PRINCIPAL SAP CRM BUSINESS SYSTEMS ANALYST                           1
PRINCIPAL SAP CONSULANT                                              1
PRINCIPAL SAP BASIS ADMINISTRATOR                                    1
"BUSINESS SYSTEM ANALYST                                             1
Name: JOB_TITLE, Length: 287770, dtype: int64

In [312]:
df[df['SOC_NAME'] == 'SOFTWARE DEVELOPERS, APPLICATIONS' ]['JOB_TITLE'].value_counts()

SOFTWARE ENGINEER                                               113360
SOFTWARE DEVELOPER                                               38875
SENIOR SOFTWARE ENGINEER                                         24655
PROGRAMMER ANALYST                                               19955
SENIOR CONSULTANT                                                10957
SENIOR SOFTWARE DEVELOPER                                         8434
SOFTWARE DEVELOPMENT ENGINEER                                     7074
CONSULTANT                                                        6185
JAVA DEVELOPER                                                    5256
DEVELOPER USER INTERFACE                                          5245
SR. SOFTWARE ENGINEER                                             4520
COMPUTER SOFTWARE ENGINEER, APPLICATIONS                          4418
SOFTWARE ENGINEER 2                                               4127
SOFTWARE DEVELOPMENT ENGINEER IN TEST                             4073
APPLICATION DEVELOPER                                             3592
SOFTWARE DEVELOPMENT ENGINEER II                                  3254
WEB DEVELOPER                                                     3069
STAFF SOFTWARE ENGINEER                                           2671
COMPUTER SOFTWARE ENGINEER                                        2495
DEVELOPER                                                         2384
SENIOR DEVELOPER                                                  2368
MANAGER                                                           2332
APPLICATIONS DEVELOPER                                            2316
PRINCIPAL SOFTWARE ENGINEER                                       2169
.NET DEVELOPER                                                    2147
SOFTWARE DEVELOPMENT ENGINEER I                                   2106
SOFTWARE ENGINEER II                                              1905
SOFTWARE ENGINEER 3                                               1861
SOFTWARE DEVELOPER, APPLICATIONS                                  1816
SYSTEMS ENGINEER                                                  1712
                                                                 ...
PROGRAM RESEARCH ASSISTANT                                           0
PROGRAM RESEARCH ASSOCIATE                                           0
PROGRAM SENIOR GROUP MANAGER                                         0
PROGRAM SPECIALIST, RESEARCH & EVALUATION                            0
PROGRAM SPECIALIST IV                                                0
PROGRAM SPECIALIST II/INSTRUCTIONAL DESIGNER & DEV                   0
PROGRAM SPECIALIST II                                                0
PROGRAM SPECIALIST 1                                                 0
PROGRAM SPECIALIST - AUTOMOTIVE PRODUCTS                             0
PROGRAM SPECIALIST (HEALTH EDUCATOR)                                 0
PROGRAM SPECIALIST (EDUCATION OUTREACH COORDINATOR)                  0
PROGRAM SOLUTIONS ANALYST                                            0
PROGRAM SOFTWARE RELEASE MANAGER                                     0
PROGRAM SERVICES REPRESENTATIVE                                      0
PROGRAM SENIOR LEAD                                                  0
PROGRAM SENIOR ANALYST                                               0
PROGRAM RESEARCH ASSOCIATE (GLOBAL BUSINESS AND ECONOMICS)           0
PROGRAM SCHEDULER                                                    0
PROGRAM SAVINGS LEADER                                               0
PROGRAM RESEARCH SPECIALIST III                                      0
PROGRAM RESEARCH SPECIALIST II (CRIMINAL JUSTICE)                    0
PROGRAM RESEARCH SPECIALIST II                                       0
PROGRAM RESEARCH SPECIALIST I                                        0
PROGRAM RESEARCH SPECIALIST 3                                        0
PROGRAM RESEARCH SPECIALIST 2                                        0
PROGRAM RESEARCH SPECIALIST                                          0
PROGRAM RESEARCH DIRECTOR                                            0
PROGRAM RESEARCH COORDINATOR                                         0
PROGRAM RESEARCH ASSOCIATE, ADRIENNE ARSHT LATIN AMERICA CTR         0
"BUSINESS SYSTEM ANALYST                                             0
Name: JOB_TITLE, Length: 287770, dtype: int64

In [313]:
df[df['SOC_NAME'] == 'SOFTWARE DEVELOPERS, APPLICATIONS' ]['EMPLOYER_NAME'].value_counts()

MICROSOFT CORPORATION                                 17240
DELOITTE CONSULTING LLP                               16457
GOOGLE INC.                                           12666
CAPGEMINI AMERICA INC                                  9028
TATA CONSULTANCY SERVICES LIMITED                      7960
IBM CORPORATION                                        5459
AMAZON CORPORATE LLC                                   5004
ORACLE AMERICA, INC.                                   4485
FUJITSU AMERICA, INC.                                  4255
MASTECH, INC., A MASTECH HOLDINGS, INC. COMPANY        4009
LARSEN & TOUBRO INFOTECH LIMITED                       3571
INTEL CORPORATION                                      3330
QUALCOMM TECHNOLOGIES, INC.                            2896
APPLE INC.                                             2758
JPMORGAN CHASE & CO.                                   2738
HCL GLOBAL SYSTEMS INC                                 2735
FACEBOOK, INC.                                         2612
EBAY INC.                                              2542
EMC CORPORATION                                        2438
YAHOO! INC.                                            2354
CERNER CORPORATION                                     2240
RANDSTAD TECHNOLOGIES, LP                              2209
WIPRO LIMITED                                          2066
PAYPAL, INC.                                           1967
QUALCOMM INCORPORATED                                  1899
VMWARE, INC.                                           1862
BANK OF AMERICA N.A.                                   1742
NTT DATA, INC.                                         1603
SALESFORCE.COM, INC.                                   1580
SYNECHRON, INC.                                        1573
                                                      ...
NORTHSTAR LIC MANGEMENT, LLC                              0
NORTHSTAR HOLISTIC COLLECTIVE A NON-PROFIT CORPORA        0
NORTHSTAR HEALTH SYSTEM                                   0
NORTHSTAR TECHNOLOGY CORPORATION                          0
NORTHSTAR VETS                                            0
NORTHWEST BUFFALO COMMUNITY HEALTH CARE CENTER            0
NORTHWEST ARKANSAS FENCING FOUNDATION INC                 0
NORTHWEST BENTON COUNTY PHYSICIANS SERVICES, LLC          0
NORTHWEST BENTON COUNTY PHYSICIAN SERVICES, LLC           0
NORTHWEST BENTON COUNTY PHYSICIAN SERVICE, LLC            0
NORTHWEST BAPTIST CHURCH,INC.                             0
NORTHWEST BAPTIST CHURCH, INC.                            0
NORTHWEST ATLANTA AUTOMOTIVE GROUP, LLC                   0
NORTHWEST ASSOCIATION FOR BIOMEDICAL RESEARCH             0
NORTHWEST ARKANSAS NEWSPAPERS LLC                         0
NORTHWEST ARKANSAS HOSPITALS, LLC                         0
NORTHWEST ARKANSAS FENCING FOUNDATION, INC                0
NORTHWEST AEROSPACE TECHNOLOGIES, INC.                    0
NORTHUMBERLAND COUNTY PUBLIC SCHOOLS                      0
NORTHWEST AEROSPACE TECHNOLOGIES INC.                     0
NORTHWEST ACUPUNCTURE CENTER LLC                          0
NORTHWEST 252 LLC                                         0
NORTHWELL HEALTH, INC.                                    0
NORTHWELL HEALTH                                          0
NORTHWELL                                                 0
NORTHVILLE SOCCER ASSOCIATION                             0
NORTHVILLE CENTRAL SCHOOL DISTRICT                        0
NORTHVILLE ANIMAL HOSPITAL                                0
NORTHVIEW HOTEL GROUP, LLC                                0
"EXCELLENT COMPUTING DISTRIBUTORS INC"                    0
Name: EMPLOYER_NAME, Length: 236120, dtype: int64

In [314]:
df[df['SOC_NAME'] == 'COMPUTER OCCUPATIONS, ALL OTHER' ]['EMPLOYER_NAME'].value_counts()

INFOSYS LIMITED                                    124393
TATA CONSULTANCY SERVICES LIMITED                   50988
WIPRO LIMITED                                       44213
IBM INDIA PRIVATE LIMITED                           33490
ACCENTURE LLP                                       30198
HCL AMERICA, INC.                                   20151
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     16005
DELOITTE CONSULTING LLP                             12009
IGATE TECHNOLOGIES INC.                             11651
LARSEN & TOUBRO INFOTECH LIMITED                    11363
TECH MAHINDRA (AMERICAS),INC.                        8487
CAPGEMINI AMERICA INC                                6566
TECH MAHINDRA (AMERICAS), INC.                       5813
UST GLOBAL INC.                                      5603
UST GLOBAL INC                                       5473
INTEL CORPORATION                                    5283
HEXAWARE TECHNOLOGIES, INC.                          4398
MICROSOFT CORPORATION                                4395
IBM CORPORATION                                      4007
MPHASIS CORPORATION                                  4004
V-SOFT CONSULTING GROUP, INC                         3795
ERNST & YOUNG U.S. LLP                               3668
MINDTREE LIMITED                                     3618
SYNTEL CONSULTING INC.                               3145
PATNI AMERICAS INC.                                  2966
QUALCOMM TECHNOLOGIES, INC.                          2950
NTT DATA, INC.                                       2899
PERSISTENT SYSTEMS, INC.                             2808
CAPGEMINI FINANCIAL SERVICES USA INC                 2749
DELOITTE & TOUCHE LLP                                2682
                                                    ...
NHS HUMAN SERVICES, INC.                                0
NHS HUMAN SERVICES                                      0
NHS CHESTER COUNTY                                      0
NHP CORPORATION                                         0
NIAGARA FALLS COUNTRY CLUB                              0
NIAGARA FALLS UNIVERSAL INC.                            0
NICE GUY DISTRIBUTION, INC.                             0
NIAGARA FOUNDATION                                      0
NICCA USA, INC.                                         0
NICANOR J. BAUTISTA DDS, INC.                           0
NIC & ZOE COMPANY                                       0
NIBUR INC.                                              0
NIBRA INTERNATIONAL CORP.                               0
NIBLACK PROJECT LLC                                     0
NIBEI FOUNDATION                                        0
NIBCO, INC.                                             0
NIBCO INC.                                              0
NIATA HEALTHCARE SYSTEMS INC.                           0
NIANTIC INC.                                            0
NIAMA-REISSER, LLC.                                     0
NIAMA-REISSER, LLC                                      0
NIAGARA WORLDWIDE LLC                                   0
NIAGARA WIND & SOLAR, INC.                              0
NIAGARA TRANSFORMER CORPORATION                         0
NIAGARA THERMAL PRODUCTS LLC                            0
NIAGARA MOHAWK POWER CORPORATION                        0
NIAGARA METALS LLC                                      0
NIAGARA LASALLE CORP.                                   0
NIAGARA HOSPITALIST, P.C.                               0
"EXCELLENT COMPUTING DISTRIBUTORS INC"                  0
Name: EMPLOYER_NAME, Length: 236120, dtype: int64

In [315]:
wage_prevail_nan = df['PREVAILING_WAGE'].isnull()
df[wage_prevail_nan].loc[:,['JOB_TITLE','PREVAILING_WAGE']]

                                               JOB_TITLE PREVAILING_WAGE
CASE_ID
131978                         COMPUTER SYSTEMS ANALAYST             NaN
661607                                  PROJECT ENGINEER             NaN
818116                                   PROJECT MANAGER             NaN
1048304                          COMPUTER SYSTEM ANALYST             NaN
1048975                   BUSINESS INTELLIGENCE ANALYSTS             NaN
1049543                          COMPUTER SYSTEM ANALYST             NaN
1103523                          MENTAL HEALTH COUNSELOR             NaN
1159887                                          DENTIST             NaN
1256820                                 GRAPHIC DESIGNER             NaN
1327261                                           DESIGN             NaN
1373680                               IT NETWORK MANAGER             NaN
1373961                                        MARKETING             NaN
1400582                          NETWORK SUPPORT ADVISOR             NaN
1412284                               OPERATION  MANAGER             NaN
1465739                             FINANCIAL SPECIALIST             NaN
1598148                                   CIVIL ENGINEER             NaN
1614401                                   WEB DEVELOPERS             NaN
1663951                                          TEACHER             NaN
1774683                          MARKET RESEARCH MANAGER             NaN
1779134                                   CIVIL ENGINEER             NaN
1781768  FRENCH SPEAKING CUSTOMER SERVICE REPRESENTATIVE             NaN
1785000                                   CIVIL ENGINEER             NaN
1786328                                          MANAGER             NaN
1810377                                        COUNSELOR             NaN
1837701                         COMPUTER SYSTEMS ANALYST             NaN
1892625                               SYSTEMS ENGINEER I             NaN
2033038                                              NaN             NaN
2104926                            ELEMENTARY CO-TEACHER             NaN
2119782                          MARKET RESEARCH ANALYST             NaN
2125908                                       CONSULTANT             NaN
...                                                  ...             ...
2426063                               SOFTWARE DEVELOPER             NaN
2434308                                              NaN             NaN
2442071                               PHYSICAL THERAPIST             NaN
2456135                              COMPUTER PROGRAMMER             NaN
2476203                              OPERATIONS ENGINEER             NaN
2496408                      TENNIS PROFESSIONAL/TRAINER             NaN
2506134                                SOFTWARE ENGINEER             NaN
2522827                VICE PRESIDENT OF SALES & PRICING             NaN
2529141                              SOFTWARE PROGRAMMER             NaN
2538496                           SENIOR SYSTEMS ANALYST             NaN
2539260                               PROGRAMMER ANALYST             NaN
2545183                                    FASHION MODEL             NaN
2547059                    DIRECTOR OF QUALITY ASSURANCE             NaN
2547064                                          MANAGER             NaN
2547100                                   FIELD ENGINEER             NaN
2552629              CORPORATE COMMUNICATIONS SPECIALIST             NaN
2598045                                          TEACHER             NaN
2643722                                  SYSTEMS ANALYST             NaN
2677929                                               XX             NaN
2691514                                              NaN             NaN
2707823                           FITNESS STUDIO MANAGER             NaN
2708715                                              NaN             NaN
2755590                                 SENIOR ASSOCIATE             NaN
2775945                              FRONT OFFICE INTERN             NaN
2802100                        COMPUTER SYSTEMS ANAGLYST             NaN
2811197                                FINANCIAL ANALYST             NaN
2828783                                 BUSINESS MANAGER             NaN
2829021                              RESEARCH SPECIALIST             NaN
2841920                               PROGRAMMER ANALYST             NaN
3000642                                INTERIOR DESIGNER             NaN

[72 rows x 2 columns]

In [316]:
df['JOB_TITLE'].value_counts()

PROGRAMMER ANALYST                                              249038
SOFTWARE ENGINEER                                               121307
COMPUTER PROGRAMMER                                              70570
SYSTEMS ANALYST                                                  61965
SOFTWARE DEVELOPER                                               42907
BUSINESS ANALYST                                                 39681
COMPUTER SYSTEMS ANALYST                                         35086
TECHNOLOGY LEAD - US                                             28350
SENIOR SOFTWARE ENGINEER                                         27133
TECHNOLOGY ANALYST - US                                          26055
ASSISTANT PROFESSOR                                              25265
SENIOR CONSULTANT                                                24904
CONSULTANT                                                       23081
PHYSICAL THERAPIST                                               20207
PROJECT MANAGER                                                  20172
DATABASE ADMINISTRATOR                                           16665
ACCOUNTANT                                                       14048
COMPUTER PROGRAMMER ANALYST                                      13634
RESEARCH ASSOCIATE                                               13623
DEVELOPER                                                        12909
ASSOCIATE                                                        12502
ANALYST                                                          11751
LEAD ENGINEER                                                    11157
COMPUTER SYSTEMS ENGINEER                                        11090
SENIOR SOFTWARE DEVELOPER                                        10208
BUSINESS SYSTEMS ANALYST                                         10110
SYSTEMS ENGINEER - US                                            10036
PROGRAMMER/ANALYST                                                9375
MARKET RESEARCH ANALYST                                           8934
MANAGER                                                           8561
                                                                 ...
PRINCIPAL RESEARCHER-COMPUTING SRVCS, PREDICTIVE ANALYTICS           1
PRINCIPAL RESEARCHER, SPEECH AND FUSION NUI TECHNO                   1
PRINCIPAL RESEARCH STATISTICIAN                                      1
PRINCIPAL RESEARCH SCIENTIST (ACOUSTIC MODELING)                     1
PRINCIPAL SALES SUPPORT MANAGER                                      1
PRINCIPAL SALESFORCE DEVELOPER                                       1
PRINCIPAL SALESFORCE SOLUTIONS ARCHITECT                             1
PRINCIPAL SAP ABAP DEVELOPER                                         1
PRINCIPAL SCIENTIST - IN-VITRO IMMUNOBIOLOGY                         1
PRINCIPAL SCIENTIST - DATA MINING                                    1
PRINCIPAL SCIENTIST - BIOLOGY DISCOVERY                              1
PRINCIPAL SCIENTIST (MATERIALS SCIENTIST)                            1
PRINCIPAL SCIENTIST (A COMPUTER AND INFORMATION RE                   1
PRINCIPAL SCIENTIFIC SOFTWARE ENGINEER                               1
PRINCIPAL SCIENTIFIC ENGINEERING ASSOCIATE (ENERGY ENGINEER)         1
PRINCIPAL SCIENTIFIC ENGINEER ASSOCIATE                              1
PRINCIPAL SCHEDULING ENGINEER                                        1
PRINCIPAL SAS STATISTICAL PROGAMMER                                  1
PRINCIPAL SAP/TM DEVELOPMENT ARCHITECT/CONSULTANT                    1
PRINCIPAL SAP TM CONSULTANT                                          1
PRINCIPAL SAP SECURITY ANALYST                                       1
PRINCIPAL SAP SCM TECHNOLOGY CONSULTANT                              1
PRINCIPAL SAP HRM SPECIALIST                                         1
PRINCIPAL SAP HR/PAYROLL DEVELOPER                                   1
PRINCIPAL SAP FUNCTIONAL LEAD                                        1
PRINCIPAL SAP EMPLOYEE CENTRAL ARCHITECT                             1
PRINCIPAL SAP CRM BUSINESS SYSTEMS ANALYST                           1
PRINCIPAL SAP CONSULANT                                              1
PRINCIPAL SAP BASIS ADMINISTRATOR                                    1
"BUSINESS SYSTEM ANALYST                                             1
Name: JOB_TITLE, Length: 287770, dtype: int64

In [317]:
df['JOB_TITLE'].unique()

[POSTDOCTORAL RESEARCH FELLOW, CHIEF OPERATING OFFICER, CHIEF PROCESS OFFICER, REGIONAL PRESIDEN, AMERICAS, PRESIDENT MONGOLIA AND INDIA, ..., CHEMISTRY  - SCIENCE TEACHER, SALES AND LOGISTIC MANAGER, APPRAISERS, REAL ESTATE, SOFTWARE ENGINEER//DATA ARCHITECT, SYSWTEMS ADMINISTRATOR]
Length: 287771
Categories (287770, object): [POSTDOCTORAL RESEARCH FELLOW, CHIEF OPERATING OFFICER, CHIEF PROCESS OFFICER, REGIONAL PRESIDEN, AMERICAS, ..., SALES AND LOGISTIC MANAGER, APPRAISERS, REAL ESTATE, SOFTWARE ENGINEER//DATA ARCHITECT, SYSWTEMS ADMINISTRATOR]

In [318]:
df['JOB_TITLE'].mode()

0    PROGRAMMER ANALYST
Name: JOB_TITLE, dtype: category
Categories (287770, object): ["BUSINESS SYSTEM ANALYST, "SALES MANAGER, "TEST" SENIOR SCIENTIST, "TRAIN THE TRAINER" PROGRAM SUPERVISOR, ..., SYSTEMS ANALYST, TEAM LEAD - US, TECHNOLOGY ARCHITECT - US, TEST ANALYST - US]

In [319]:

df['JOB_TITLE'].fillna('PROGRAMMER ANALYST', inplace=True)

In [320]:
df.isnull().sum()

CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
JOB_TITLE              0
FULL_TIME_POSITION     0
PREVAILING_WAGE       72
YEAR                   0
WORKSITE               0
dtype: int64

In [321]:
df['PREVAILING_WAGE'] = df['PREVAILING_WAGE'].astype(float)

In [322]:
print(df['PREVAILING_WAGE'].mean(axis=0))
print(df['PREVAILING_WAGE'].median(axis=0))
print(df['PREVAILING_WAGE'].max(axis=0))
print(df['PREVAILING_WAGE'].mode())

146998.4319151606
65021.0
6997606720.0
0    60000.0
dtype: float64

In [323]:
df[df['PREVAILING_WAGE'] >= 200000].shape

(10621, 8)

In [324]:
df[df['PREVAILING_WAGE'] < 200000].shape

(2991752, 8)

In [325]:
##to check the percentile in wages
print(np.nanpercentile(df.PREVAILING_WAGE,98))

print(np.nanpercentile(df.PREVAILING_WAGE,2))

138965.0
34000.0

In [326]:
df.isnull().sum()

CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
JOB_TITLE              0
FULL_TIME_POSITION     0
PREVAILING_WAGE       72
YEAR                   0
WORKSITE               0
dtype: int64

In [327]:
## Dealing with outliers - any wage above 200k
h = df[df['PREVAILING_WAGE'] >= 200000].index
## replacing min and max with 2 and 98 percentile
df.loc[df.PREVAILING_WAGE < 34000, 'PREVAILING_WAGE']= 34000
df.loc[df['PREVAILING_WAGE'] > 138703, 'PREVAILING_WAGE']= 138703
df.PREVAILING_WAGE.fillna(df.PREVAILING_WAGE.mean(), inplace = True)

In [328]:
df.shape

(3002445, 8)

In [329]:
df.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
CASE_ID,,,,,,,,
1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016-01-01,"ANN ARBOR, MICHIGAN"
2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES232,CHIEF OPERATING OFFICER,Y,138703.0,2016-01-01,"PLANO, TEXAS"
3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES232,CHIEF PROCESS OFFICER,Y,138703.0,2016-01-01,"JERSEY CITY, NEW JERSEY"
4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES232,"REGIONAL PRESIDEN, AMERICAS",Y,138703.0,2016-01-01,"DENVER, COLORADO"
5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES232,PRESIDENT MONGOLIA AND INDIA,Y,138703.0,2016-01-01,"ST. LOUIS, MISSOURI"

In [330]:
print(df['PREVAILING_WAGE'].mean(axis=0))
print(df['PREVAILING_WAGE'].median(axis=0))
print(df['PREVAILING_WAGE'].max(axis=0))
print(df['PREVAILING_WAGE'].mode())

69849.23844467157
65021.0
138703.0
0    138703.0
dtype: float64

In [331]:
df.isnull().sum()

CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
dtype: int64

In [332]:
df.dtypes

CASE_STATUS                   object
EMPLOYER_NAME               category
SOC_NAME                      object
JOB_TITLE                   category
FULL_TIME_POSITION            object
PREVAILING_WAGE              float64
YEAR                  datetime64[ns]
WORKSITE                      object
dtype: object

In [333]:
df['CASE_STATUS'].unique()

array(['CERTIFIED-WITHDRAWN', 'WITHDRAWN', 'CERTIFIED',
       'CERTIFIED-+--WITHDRAWN', 'DENIED', 'REJECTED', 'INVALIDATED',
       'PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED'], dtype=object)

In [334]:
g = df[df['CASE_STATUS'] == 'WITHDRAWN'].index
df.drop(g,axis=0,inplace=True)

In [335]:
df['CASE_STATUS'].unique()

array(['CERTIFIED-WITHDRAWN', 'CERTIFIED', 'CERTIFIED-+--WITHDRAWN',
       'DENIED', 'REJECTED', 'INVALIDATED',
       'PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED'], dtype=object)

In [336]:
df['CASE_STATUS'] = np.where(df['CASE_STATUS'].str.contains('CERTIFIED'), 'CERTIFIED', df['CASE_STATUS'] )
df['CASE_STATUS'] = np.where(df['CASE_STATUS'].str.contains('INVALIDATED'), 'DENIED', df['CASE_STATUS'] )
df['CASE_STATUS'] = np.where(df['CASE_STATUS'].str.contains('REJECTED'), 'DENIED', df['CASE_STATUS'] )
df['CASE_STATUS'] = np.where(df['CASE_STATUS'].str.contains('UNASSIGNED'), 'DENIED', df['CASE_STATUS'] )

In [337]:
df['CASE_STATUS'].unique()

array(['CERTIFIED', 'DENIED'], dtype=object)

In [338]:
df.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE'],
      dtype='object')

In [339]:
df['EMPLOYER_NAME'] = df['EMPLOYER_NAME'].str.lower() 
df['JOB_TITLE'] = df['JOB_TITLE'].str.lower() 
df['SOC_NAME'] = df['SOC_NAME'].str.lower() 
df['WORKSITE'] = df['WORKSITE'].str.lower()
df['CASE_STATUS'] = df['CASE_STATUS'].str.lower()

In [340]:
df['SOC_NAME'].value_counts()

computer occupations, all other                                           1247384
software developers, applications                                          563777
engineers                                                                  187139
financial analysts                                                          71984
management analysts                                                         65235
accountants and auditors                                                    55159
database administrators                                                     37902
market research analysts and marketing specialists                          36331
operations research analysts                                                33349
physicians and surgeons, all other                                          32276
medical scientists, except epidemiologists                                  25274
physical therapists                                                         21248
biochemists and biophysicists                                               20618
statisticians                                                               16526
biological scientists, all other                                            15850
marketing managers                                                          15697
internists, general                                                         12826
chemists                                                                    12577
graphic designers                                                           12018
general and operations managers                                             10735
commercial and industrial designers                                          9065
pharmacists                                                                  9010
health specialties teachers, postsecondary                                   8951
lawyers                                                                      7766
biological technicians                                                       7640
logisticians                                                                 7512
public relations specialists                                                 6998
managers, all other                                                          6944
business operations specialists, all other                                   6576
elementary school teachers, except special educati                           6511
                                                                           ...
butchers and meat cutters                                                       1
clinical research coordinator                                                   1
sheet metal workers                                                             1
english language & literature teachers                                          1
interior designer                                                               1
photographic process workers and processing                                     1
foreign language and literature teachers                                        1
adult basic second educ and lit teach and instruc                               1
photographic process workers                                                    1
chemist                                                                         1
secondary school teachers, except special educatio                              1
sales representative                                                            1
business systems analysts                                                       1
funeral service managers                                                        1
orthoptists                                                                     1
marketing research analysts & marketing specialist                              1
electrical enginers                                                             1
foreign language and literature teachers, postsecondary                         1
criminal justice and law enforcement teachers, postsecondary                    1
online wage library                                                             1
counseling psychologist                                                         1
java developer                                                                  1
costume attendants                                                              1
helpers--painters, paperhangers, plasterers, and                                1
marketing  managers                                                             1
medical seicentists, except epidemiologists                                     1
medical scientists, except edpidemiologists                                     1
atmospheric, earth, marine, and space sciences teachers, postsecondary          1
secur, commod, fin servs, sales agents                                          1
securities commodities fin services sales agents                                1
Name: SOC_NAME, Length: 1196, dtype: int64

In [341]:
df[df['EMPLOYER_NAME'].str.contains('university')].shape

(136837, 8)

In [342]:
df['NEW_EMPLOYER'] = np.where(df['EMPLOYER_NAME'].str.contains('university'), 'university', 'non university')

In [343]:
df['NEW_EMPLOYER'].values

array(['university', 'non university', 'non university', ...,
       'non university', 'non university', 'non university'], dtype=object)

In [344]:
df.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,NEW_EMPLOYER
CASE_ID,,,,,,,,,
1,certified,university of michigan,biochemists and biophysicists,postdoctoral research fellow,N,36067.0,2016-01-01,"ann arbor, michigan",university
2,certified,"goodman networks, inc.",chief executives232,chief operating officer,Y,138703.0,2016-01-01,"plano, texas",non university
3,certified,"ports america group, inc.",chief executives232,chief process officer,Y,138703.0,2016-01-01,"jersey city, new jersey",non university
4,certified,"gates corporation, a wholly-owned subsidiary o...",chief executives232,"regional presiden, americas",Y,138703.0,2016-01-01,"denver, colorado",non university
6,certified,burger king corporation,chief executives232,"executive v p, global development and presiden...",Y,138703.0,2016-01-01,"miami, florida",non university

In [345]:
df[df['SOC_NAME'].str.contains('medical scientists','therapist')].shape

(25285, 9)

In [346]:
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('medical scientists','physical therapists'), 'medical field', df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('physical therapists'), 'medical field', df['SOC_NAME'])

In [347]:

df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('computer','graphic'), 'computer occupations', df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('software','database administrators'), 
                          'computer occupations', df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('graphic designers'), 'computer occupations', df['SOC_NAME'])
df['SOC_NAME'] = np.where(df['SOC_NAME'].str.contains('database administrators'), 'computer occupations', df['SOC_NAME'])

In [348]:
df.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,NEW_EMPLOYER
CASE_ID,,,,,,,,,
1,certified,university of michigan,biochemists and biophysicists,postdoctoral research fellow,N,36067.0,2016-01-01,"ann arbor, michigan",university
2,certified,"goodman networks, inc.",chief executives232,chief operating officer,Y,138703.0,2016-01-01,"plano, texas",non university
3,certified,"ports america group, inc.",chief executives232,chief process officer,Y,138703.0,2016-01-01,"jersey city, new jersey",non university
4,certified,"gates corporation, a wholly-owned subsidiary o...",chief executives232,"regional presiden, americas",Y,138703.0,2016-01-01,"denver, colorado",non university
6,certified,burger king corporation,chief executives232,"executive v p, global development and presiden...",Y,138703.0,2016-01-01,"miami, florida",non university

In [349]:
df.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE',
       'NEW_EMPLOYER'],
      dtype='object')

In [350]:
df['WORKSITE'].unique()

array(['ann arbor, michigan', 'plano, texas', 'jersey city, new jersey',
       ..., 'waldron, indiana', 'detroit, maine', 'tuan, massachusetts'],
      dtype=object)

In [351]:
## Splitting city and state and capturing state in another variable
df['STATE'] = df.WORKSITE.str.split('\s+').str[-1]

In [352]:
print(df.head())

        CASE_STATUS                                      EMPLOYER_NAME  \
CASE_ID
1         certified                             university of michigan
2         certified                             goodman networks, inc.
3         certified                          ports america group, inc.
4         certified  gates corporation, a wholly-owned subsidiary o...
6         certified                            burger king corporation

                              SOC_NAME  \
CASE_ID
1        biochemists and biophysicists
2                  chief executives232
3                  chief executives232
4                  chief executives232
6                  chief executives232

                                                 JOB_TITLE FULL_TIME_POSITION  \
CASE_ID
1                             postdoctoral research fellow                  N
2                                  chief operating officer                  Y
3                                    chief process officer                  Y
4                              regional presiden, americas                  Y
6        executive v p, global development and presiden...                  Y

         PREVAILING_WAGE       YEAR                 WORKSITE    NEW_EMPLOYER  \
CASE_ID
1                36067.0 2016-01-01      ann arbor, michigan      university
2               138703.0 2016-01-01             plano, texas  non university
3               138703.0 2016-01-01  jersey city, new jersey  non university
4               138703.0 2016-01-01         denver, colorado  non university
6               138703.0 2016-01-01           miami, florida  non university

            STATE
CASE_ID
1        michigan
2           texas
3          jersey
4        colorado
6         florida

In [353]:
df_2 = df.drop(columns=['EMPLOYER_NAME','WORKSITE'])
df_2.head()

,CASE_STATUS,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,NEW_EMPLOYER,STATE
CASE_ID,,,,,,,,
1,certified,biochemists and biophysicists,postdoctoral research fellow,N,36067.0,2016-01-01,university,michigan
2,certified,chief executives232,chief operating officer,Y,138703.0,2016-01-01,non university,texas
3,certified,chief executives232,chief process officer,Y,138703.0,2016-01-01,non university,jersey
4,certified,chief executives232,"regional presiden, americas",Y,138703.0,2016-01-01,non university,colorado
6,certified,chief executives232,"executive v p, global development and presiden...",Y,138703.0,2016-01-01,non university,florida

In [ ]:
#sns.countplot(df['EMPLOYER_NAME'], hue= df['CASE_STATUS'])

In [ ]:
#f = ['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
#       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE']
#count = 0
#while count < len(f):
#    ax = plt.subplots
#    sns.countplot(df[f[count]], hue= df['CASE_STATUS'])
#   count += 1